@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Press Start 2P', monospace;
  background-color: #222; /* Fundo escuro para destacar */
  color: #eee;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
